<h4 class="mt-4 mb-4 ">Show details of post <%= @post.id %></h4>

<div class="col-md-6">
  <label class="col-sm-2 col-form-label"> Title </label>
  <%= @post.title %>
</div>  
<div class="col-md-6">
  <label class="col-sm-2 col-form-label"> Description </label>
  <%= @post.description %>
</div>  


<%= link_to 'Back', posts_path, class: "btn btn-primary" %>

